body {
    color: white;
    background-color: rgba(27,27,27,255);
    
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
  
}

header {
    color: red;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

}

#tagcloud {
    display: inline-block;
    color: white;
    padding: 8px 20px;
    border-radius: 25px;
    background-color: #2196F3;
    margin-top: 8px;

}

.tagcloud {
    clear: both;
    padding: 0;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    border: solid 1px;
      border-top-style: solid;
      border-right-style: solid;
      border-bottom-style: solid;
      border-left-style: solid;
    border-style: dashed;

}

.tagcloud li {
    list-style: none;
    display: inline-block;
    padding: 5px;

}

.tagcloud a {
    text-decoration: none;

}

.tagcloud a:hover {
    text-decoration: underline;

}

time {
    font-family: monospace;
    color: #888;
    font-size: 10pt;
}

time {
    font-family: monospace;
    color: #888;
    font-size: 10pt;
}

footer {
    text-align: bottom;

}

a {
    text-decoration: none;
    color: cadetblue;

}